@import "./general";

#services {    
    max-width: 1400px;
    margin: 5em auto;

    .service-col {
        position: relative;
        padding: 2em;
        flex-basis: 20%;
        background: white;
        text-align: center;
        margin: 5em 2em;
        border: 1px solid $accentColorLight;

        &::before {
            content: '';
            position: absolute;
            top: -4px;
            right: -4px;
            bottom: -4px;
            left: -4px;
            background: linear-gradient(to bottom left, $fontColor, $accentColor);
            z-index: -1;
        }

        img {
            max-height: 96px;
            margin: 2em;
        }

        h4 {
            margin-bottom: 1em;
        }

        p {
            text-align: left;
        }
    }
}

@media (min-width: 1024px) {
    #services {
        display: flex;
        justify-content: space-around;
    }
}